body {
    font-family: $font-stack;
    background-color: $white;
    color: $black;
    max-width: 80vw;
    margin: 30px auto;
    padding: 0 1rem;
}

body,
* {
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #171717;
    font-weight: var(--fregular);
    font-size: 18px;
}