@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black: #000000;
  --html: #E93E30;
  --javascript: #F7E018;
  --css: #299ED5;
  --react: #292C33;
  --vue: #67C770;
  --bootstrap: #563D7C;
  --fregular: 400;
  --fmedium: 500;
  --fbold: 700;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
  max-width: 80vw;
  margin: 30px auto;
  padding: 0 1rem;
}

body,
* {
  box-sizing: border-box;
}

.header__container,
.footer__container {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0rem;
}
.header__logo,
.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo img,
.footer__logo img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.header__title,
.footer__title {
  font-style: normal;
  font-weight: var(--fbold);
  font-size: 24px;
  line-height: 36px;
  margin-left: 10px;
}
.header__nav,
.footer__nav {
  margin-left: auto;
}
.header__nav-link,
.footer__nav-link {
  color: #171717;
  font-weight: var(--fregular);
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  margin-right: 1rem;
}

.card__icon {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.novedades {
  padding-bottom: 2rem;
  border: 3px solid #CCCCCC;
  border-left: 0;
  border-right: 0;
}
.novedades__title {
  font-weight: var(--fbold);
  font-size: 2rem;
  margin: 1rem 0;
}
.novedades__main {
  display: flex;
  justify-content: space-between;
}
.novedades__card--large {
  flex: 2;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: 1rem;
}
.novedades__side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.novedades__card {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
}
.novedades .card__img--large {
  width: 100%;
  height: auto;
}
.novedades .card__body--large {
  padding: 1rem;
  text-align: left;
}
.novedades .card__text--large {
  font-weight: var(--fmedium);
  font-size: 24px;
  line-height: 36px;
  color: #171717;
}
.novedades .novedades__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 0.5rem;
}
.novedades .card__date {
  font-size: 16px;
  color: #171717;
  margin-bottom: 0.5rem;
  line-height: 24px;
  font-weight: var(--fregular);
}
.novedades .card__title {
  font-size: 20px;
  font-weight: var(--fbold);
  line-height: 30px;
}
.novedades .card__footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.novedades .card__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.novedades .card__text {
  font-size: 16px;
  color: #171717;
  line-height: 24px;
  font-weight: var(--fmedium);
}
.novedades .card__img {
  width: 40%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.novedades .card__body {
  padding: 1rem;
  text-align: left;
}

.populares {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid #CCCCCC;
}
.populares__title {
  font-weight: var(--fbold);
  font-size: 2rem;
  margin: 1rem 0;
}
.populares__main {
  flex: 2;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: 1rem;
}
.populares__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}
.populares__card {
  width: 45%;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 45vh;
  margin-bottom: 1rem;
}
.populares .card__date {
  font-size: 16px;
  color: #171717;
  margin-bottom: 0.5rem;
  line-height: 24px;
  font-weight: var(--fregular);
}
.populares .card__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #171717;
}
.populares .card__footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.populares .card__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.populares .card__text {
  font-size: 16px;
  font-weight: var(--fmedium);
  color: #171717;
  line-height: 24px;
}
.populares .card__img {
  width: 100%;
  height: 45%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.populares .card__body {
  text-align: left;
}

.categorias {
  display: flex;
  flex-direction: row;
}
.categorias__main {
  flex: 1;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
}
.categorias__title {
  font-weight: var(--fbold);
  font-size: 2rem;
  margin: 1rem 0;
  margin-left: 3rem;
}
.categorias__img {
  width: 85px;
  height: px;
  padding: 0.5rem;
}
.categorias__shape {
  padding: 1rem 1rem;
  width: 297px;
  height: 90px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: 3rem;
}
.categorias__bg--html {
  background-color: var(--html);
}
.categorias__bg--js {
  background-color: var(--javascript);
}
.categorias__bg--css {
  background-color: var(--css);
}
.categorias__bg--react {
  background-color: var(--react);
}
.categorias__bg--vue {
  background-color: var(--vue);
}
.categorias__bg--bootstrap {
  background-color: var(--bootstrap);
}
.categorias__name {
  color: white;
  font-weight: var(--fbold);
  font-size: 32px;
}
.categorias__link {
  color: #171717;
  font-weight: var(--fregular);
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  margin-left: 3rem;
}/*# sourceMappingURL=style.css.map */