@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #000000;
    --html: #E93E30;
    --javascript: #F7E018;
    --css: #299ED5;
    --react: #292C33;
    --vue: #67C770;
    --bootstrap: #563D7C;
    --fregular: 400;
    --fmedium: 500;
    --fbold: 700;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    max-width: 80vw;
    margin: 30px auto;
    padding: 0 1rem;
}

body,
* {
    box-sizing: border-box;
}

.header,
.footer {

    &__container {
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem 0rem;
    }


    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 55px;
            height: 55px;
            border-radius: 10px;
            box-shadow: 0px 4px 4px 0px #00000040;
        }

    }

    &__title {
        font-style: normal;
        font-weight: var(--fbold);
        font-size: 24px;
        line-height: 36px;
        margin-left: 10px;
    }

    &__nav {
        margin-left: auto;
    }

    &__nav-link {
        color: #171717;
        font-weight: var(--fregular);
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        margin-right: 1rem;
    }
}

.card__icon {
    box-shadow: 0px 4px 4px 0px #00000040;
}


.novedades {
    padding-bottom: 2rem;
    border: 3px solid #CCCCCC;
    border-left: 0;
    border-right: 0;

    &__title {
        font-weight: var(--fbold);
        font-size: 2rem;
        margin: 1rem 0;
    }

    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__card--large {
        flex: 2;
        background-color: white;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-right: 1rem;
    }

    &__side {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__card {
        background-color: white;
        border-radius: 0.5rem;
        overflow: hidden;
        text-align: center;
    }

    .card__img--large {
        width: 100%;
        height: auto;
    }

    .card__body--large {
        padding: 1rem;
        text-align: left;
    }

    .card__text--large {
        font-weight: var(--fmedium);
        font-size: 24px;
        line-height: 36px;
        color: #171717;
    }

    .novedades__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 0.5rem;
    }

    .card__date {
        font-size: 16px;
        color: #171717;
        margin-bottom: 0.5rem;
        line-height: 24px;
        font-weight: var(--fregular);
    }

    .card__title {
        font-size: 20px;
        font-weight: var(--fbold);
        line-height: 30px;
    }

    .card__footer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .card__icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .card__text {
        font-size: 16px;
        color: #171717;
        line-height: 24px;
        font-weight: var(--fmedium);
    }

    .card__img {
        width: 40%;
        height: 80%;
        object-fit: cover;
        border-radius: 20px;
    }

    .card__body {
        padding: 1rem;
        text-align: left;
    }
}

.populares {

    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid #CCCCCC;

    &__title {
        font-weight: var(--fbold);
        font-size: 2rem;
        margin: 1rem 0;
    }

    &__main {
        flex: 2;
        background-color: white;
        border-radius: 0.5rem;
        overflow: hidden;
        margin-right: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
    }

    &__card {
        width: 45%;
        background-color: white;
        border-radius: 0.5rem;
        overflow: hidden;
        height: 45vh;
        margin-bottom: 1rem;
    }

    .card__date {
        font-size: 16px;
        color: #171717;
        margin-bottom: 0.5rem;
        line-height: 24px;
        font-weight: var(--fregular);
    }

    .card__title {
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        color: #171717
    }

    .card__footer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .card__icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .card__text {
        font-size: 16px;
        font-weight: var(--fmedium);
        color: #171717;
        line-height: 24px;
    }

    .card__img {
        width: 100%;
        height: 45%;
        object-fit: cover;
        border-radius: 20px;
    }

    .card__body {
        text-align: left;
    }
}


.categorias {
    display: flex;
    flex-direction: row;

    &__main {
        flex: 1;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        font-weight: var(--fbold);
        font-size: 2rem;
        margin: 1rem 0;
        margin-left: 3rem;
    }

    &__img {
        width: 85px;
        height: px;
        padding: 0.5rem;
    }

    &__shape {
        padding: 1rem 1rem;
        width: 297px;
        height: 90px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        margin-left: 3rem;
    }

    &__bg {
        &--html {
            background-color: var(--html);
        }

        &--js {
            background-color: var(--javascript);
        }

        &--css {
            background-color: var(--css);
        }

        &--react {
            background-color: var(--react);
        }

        &--vue {
            background-color: var(--vue);
        }

        &--bootstrap {
            background-color: var(--bootstrap);
        }
    }

    &__name {
        color: white;
        font-weight: var(--fbold);
        font-size: 32px;
    }

    &__link {
        color: #171717;
        font-weight: var(--fregular);
        font-size: 20px;
        line-height: 30px;
        text-decoration: none;
        margin-left: 3rem;
    }
}