.populares {
    @include py-2;
    @include flex-direction-row;
    border-bottom: 3px solid #CCCCCC;


    &__main {
        flex: 2;
        background-color: $white;
        @include border-radius-md;
        overflow: hidden;
        @include mr-1;
    }

    &__container {
        @include flex-space-between;
        flex-direction: row;
        flex-wrap: wrap;
        @include mx-0;
    }
}